<link rel="stylesheet" type="text/css" href="/css/positions.css" />
<div class="body" style="display: flex;  box-sizing: border-box; flex-direction: column; height:45vh; justify-content: center; padding-top: 10px;">
    <div class="positions" style="height: auto; margin-bottom: 5px; height: 40vh;">
        <% if(positions != undefined && positions[0] != null) {%>
        <% for(var i = 0; i < positions.length; i++) {%>
        <div class="position" style="height: fit-content;">
            <p class="position-h"><%= positions[i].name %><a href="/admin/remove_position?e_id=<%= id%>&p_id=<%=positions[i]._id%>"><i class="fa fa-trash remove-position" style="float: right; margin: 5px; font-size: 20px;"></i></a></p>
            <div class="candidates">
                <% for(var j = 0; j < positions[i].candidate.length; j++) {%>
                <% if(positions[i].candidate[j]) {%>
                <div class="candidate">
                    <p class="can-name"><%= positions[i].candidate[j].name %></p>
                    <a href="/admin/remove_candidate?e_id=<%= id%>&p_id=<%=positions[i]._id%>&c_id=<%= positions[i].candidate[j]._id %>"><i class="fa fa-trash remove-candidate"></i></a>
                </div>
                <% } %>
                <% } %>
                <form class="candidate" method="POST" action="/admin/create_new_candidate">
                    <input value="<%= id%>" style="display: none;" name="e_id">
                    <input value="<%=positions[i]._id%>" style="display: none;" name="p_id">
                    <input type="text" class="can-name" name="cand_roll_no" placeholder="New candidate" onfocus="this.placeholder = ''" onblur="this.placeholder = 'New candidate'" required>
                    <button type="submit" style="border: none; background-color: transparent; cursor: pointer;"><i class="fa fa-plus add-candidate"></i></button>
                </form>
            </div>
        </div>
        <% } %>
        <% } %>
    </div>
    <div style="position: absolute; top: 45vh; display: flex; justify-items: center; align-content: center; flex-direction: column;" >
        <form class="form-a" action='/admin/create_new_position' method="POST">
            <input value="<%= id %>" name="elect_id" style="display: none;">
            <input name="position_name" type="text" style="box-shadow: 0px 2px 2px 0px black;" placeholder="Enter new position name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter new position name'" required>
            <input type="submit" style="box-shadow: 0px 2px 2px 0px black;  padding: 0px 5px; width : 118px; background-color: rgb(4, 4, 100); color:yellow; font-weight: bolder;" value="Add position">
        </form>
        <button onclick="show()" id="edt-dtl" style="height: 35px; width : 125px; margin: 5px; margin:auto; margin-top: 10px; height: 40px; cursor: pointer; background-color: rgb(4, 4, 100); color: yellow; font-weight: bolder; font-size: 17px;">Edit schedule</button>
        <form class="scdle-time" action='/admin/update_election_time' method="POST" style="margin-top: 20px; color : lightblue">
            <input value="<%= id%>" style="display: none;" name="e_id">
            <label>Scheduled Date</label>
            <input type="Date" placeholder="Start date" name="date" required>
            <label>Scheduled Time</label>
            <input type="time" placeholder="Start time" name="time" required>
            <label>Alloted Time</label>
            <input type="time" placeholder="Total alloted time" name="eTime" required>
            <button type="submit" style="height: 30px; width : 100px; margin: 5px;">Save</button>
        </form>
    </div>
  
</div>
<script src="/js/enter_election_data.js"></script>
<script src="/js/toggle_candidate.js"></script>