<link rel="stylesheet" type="text/css" href="/css/stage1.css" />
<link rel="stylesheet" type="text/css" href="/css/voting_page.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <a href="/users/change_pass"><button class="btn btn-outline-dark" href="#" tabindex="-1" aria-disabled="true">Change Password</button></a>
        <a href="/users/logout"><button class="btn btn-outline-dark ms-1">Logout</button></a>
    </div>
  </nav>
<div class="body" style="display: flex; flex-direction: column; justify-content: start;">
    <div id="endTime" style="text-align: center; color : white; text-shadow: -2px -2px black;">
        <p id="end"></p>
    </div>
    <form id="form1" action="/vote/count?e_id=<%= e_id%>" class="election-box" method="POST">
    <% for(var i = 0; i < data.positions.length; i++) { %>
        <div class="positions">
            <p class="position-h"><%= data.positions[i].name %></p>
            <select class="position" name='<%= data.positions[i]._id %>'>
                <% for(var j = 0; j < data.positions[i].candidate.length; j++) {%>
                <option value='<%= data.positions[i].candidate[j]._id%>'>
                    <%= data.positions[i].candidate[j].name %>
                </option>
                    <% } %>
            </select>
        </div>
    <% } %>
    </form>
    <div style="margin-top: 10px;">
        <a><button type="submit" form="form1">Submit</button></a>
    </div>
</div>
<script src="/js/updateTime.js"></script>
<script>
    let end = document.getElementById('end');
    var data = '<%- JSON.stringify(data) %>';
    data = JSON.parse(data);
    setInterval(() => {
        const diffTime = new Date(data.endTime) - new Date();
        const diffDays = Math.floor(diffTime / (1000 * 60 * 60 * 24));
        const diffHrs =  Math.floor(diffTime / (1000 * 60 * 60) - (diffDays * 24));
        const diffMins = Math.floor(diffTime / (1000 * 60) - diffHrs * 60 - (diffDays * 24 * 60));
        const diffSecs = Math.floor(diffTime / (1000) - diffMins * 60 - diffHrs * 60 * 60 - (diffDays * 24 * 60 * 60));
        end.innerHTML = diffDays + ' d ' + diffHrs + ' h '+ diffMins + ' m '+ diffSecs + ' s';
    }, 1000);
</script>